[Unit]
Description=Add signal acquire from switches board
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/apcstatd &
Restart=always

[Install]
WantedBy=multi-user.target
