[Unit]
Description=Translate APC daemon status to MQTT topic
After=multi-user.target

[Service]
Restart=always
RestartSec=90
Type=simple
ExecStart=/bin/apcstatd localhost:3551 anton:1883
Restart=always

[Install]
WantedBy=multi-user.target
